body {
  background-color: rgba(2, 2, 2, 0.808);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* ExpenseItem CSS */

.expense-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 10px 30px rgba(72, 71, 71, 0.25);
  padding: 0.75rem 1.25rem;
  /* border: 2px solid white; */
  margin: 1rem 0;
  border-radius: 12px;
  background-color: #232223a2;
}

.expense-item__description {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: flex-end;
  flex-flow: column-reverse;
  justify-content: flex-start;
  flex: 1;
}

.expense-item h2 {
  color: #3a3a3a;
  /* font-size: 1rem; */
  flex: 1;
  margin: 0 1rem;
  color: white;
}

.expense-item__price {
  font-size: 1rem;
  font-weight: bold;
  color: white;
  background-color: #1349fae3;
  border: 2px solid white;
  border-radius: 12px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
}

@media (min-width: 580px) {
  .expense-item__description {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .expense-item__description h2 {
    font-size: 1.25rem;
  }

  .expense-item__price {
    font-size: 1.25rem;
    padding: 0.5rem 1.5rem;
  }
}

/* ExpenseDate CSS */

.expense-date {
  display: flex;
  flex-direction: column;
  width: 5.5rem;
  height: 5.5rem;
  border: 1px solid #ececec;
  background-color: #1b1b1bbb;
  color: rgb(255, 255, 255);
  border-radius: 12px;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px white;
}

.expense-date__month {
  font-size: 1.3rem;
  font-weight: bold;
}

.expense-date__year {
  font-size: 1rem;
}

.expense-date__day {
  font-size: 1.75rem;
  font-weight: bold;
}

.expenses {
  padding: 1rem;
  margin: 2rem auto;
  width: 55rem;
  max-width: 95%;
  border-radius: 12px;
  box-shadow: 5px 5px 20px 5px rgba(0, 0, 0, 0.727);
}

/* NewExpense CSS */

.new-expense {
  padding: 1rem;
  margin: 2rem auto;
  margin-bottom: 80px;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
  box-shadow: 2px 2px 20px 2px rgba(0, 0, 0, 0.727);
}

.new-expense button {
  font: inherit;
  cursor: pointer;
  font-size: 20px;
  border: none;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.488);
  background-color: rgb(102, 0, 128);
  color: white;
  border-radius: 12px;
  margin-right: 1rem;
  padding: 0.85rem 0.75rem;
}

.add_newexpense_btn {
  margin-left: 10px;
  padding: 0.85rem 0.5rem;
}

.cancel_newexpense_btn {
  padding: 0.85rem 0.75rem;
}

.new-expense button:hover,
.new-expense button:active {
  background-color: #510674;
  border-color: black;
}

.new-expense button.alternative {
  color: #220131;
  border-color: transparent;
  background-color: transparent;
}

.new-expense button.alternative:hover,
.new-expense button.alternative:active {
  background-color: #ddb3f8;
}

/* ExpenseForm CSS */

.new-expense__controls {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  margin-bottom: 1rem;
  text-align: left;
}

.new-expense__control label {
  font-weight: bold;
  margin-bottom: 0.5rem;
  display: block;
  color: white;
}

.new-expense__control input {
  font: inherit;
  padding: 0.5rem;
  border-radius: 6px;
  border: 2px solid #0b0b0b;
  width: 20rem;
  max-width: 100%;
}

.new-expense__actions {
  text-align: right;
}

/* Expense Filter CSS */

.expenses-filter {
  color: white;
  padding: 0 1rem;
}

.expenses-filter__control {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  margin: 1rem 0;
}

.expenses-filter label {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.expenses-filter select {
  font: inherit;
  padding: 0.5rem 3rem;
  font-weight: bold;
  border-radius: 6px;
}

.no_expense {
  color: white;
  font-size: 35px;
  font-family: cursive;
  letter-spacing: 0.1rem;
  margin-top: 50px;
  text-align: center;
}

/* Chart CSS */

.chart {
  padding: 1rem;
  border-radius: 12px;
  background-color: #f8dfff;
  text-align: center;
  display: flex;
  justify-content: space-around;
  height: 10rem;
}

/* ChartBar CSS */

.chart-bar {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.chart-bar__inner {
  height: 100%;
  width: 100%;
  border: 1px solid #313131;
  border-radius: 12px;
  background-color: #c3b4f3;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.chart-bar__fill {
  background-color: #9226b9;
  width: 100%;
  transition: all 0.3s ease-out;
}

.chart-bar__label {
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
}
